name: Waka Readme

on:
  workflow_dispatch:
  schedule:
    # Runs at 12am IST
    - cron: "0/30 0/1 * * *" # runs at every 30 min
jobs:
  update-readme:
    name: Update Readme with Metrics
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          SHOW_LANGUAGE: true
          SHOW_DAYS_OF_WEEK: false
          SHOW_PROFILE_VIEWS: true
          SHOW_PROJECTS: false
          SHOW_EDITORS: false
          SHOW_OS: false
          SHOW_LANGUAGE_PER_REPO: false
          SHOW_TIMELINE: false
          SHOW_GITHUB_STATS: false
          SHOW_UPDATED_DATE: "False"
          SHOW_COMMIT: "False"
          SHOW_SHORT_INFO: "False"
          SHOW_LOC_CHART: "False"
